/* @import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "litepicker/dist/css/litepicker.css"; */
@import "./shared/base.css";
@import "./shared/components.css";
@import "./shared/buttons.css";

:root {
    --brand-primary: #1e5799;
    --brand-accent: #198754;
    
    /* Background Colors */
    --bg-main-content: #fffdfa;      /* Main dashboard */
    --bg-body: #ffffff;               /* Fallback body */
    --bg-login: linear-gradient(...); /* Login page */
}


/* SweetAlert2-like modal animation */
@keyframes sweetPop {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.modal.fade .modal-dialog {
    opacity: 0;
    transform: scale(0.7);
    transition: none; /* disable default transition */
}

.modal.fade.show .modal-dialog {
    animation: sweetPop 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
@media (max-width: 768px) {
    .btn-sidebar{
    font-size: 15px; 
    padding: 8px 10px;
  }
}

@media (max-width: 480px) {
  .main-content {
    padding: 0px 10px 15px 10px !important;
  }
  .btn-sidebar{
    font-size: 15px; 
    padding: 8px 10px;
  }
}